<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>Utilisateur</title>
   <link href='<?php echo BASE_URL."/css/bootstrap.css";?>' rel="stylesheet" />
</head>
<body>
	<div class="container">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/utilisateur';?>">Utilisateurs</a></li>
					<li> <a href="<?php echo BASE_URL.'/artiste';?>">Artistes</a></li>
					<li> <a href="<?php echo BASE_URL.'/album';?>">Albums</a></li>
					<li> <a href="#">A propos</a></li>
					<li> <a href="<?php echo BASE_URL.'/connexion';?>">Connexion</a></li>
				</ul>
			<h1>Utilisateur : <?php echo $this->utilisateur->pseudo;?></h1>	
		</div>

   <strong><?php echo ($this->utilisateur->pseudo);?></strong><br>
   <a href="mailto:#"><?php echo $this->utilisateur->adresseMail; ?></a>
   <footer>
				<hr>
				<div class="text-center">
					<a href="<?php echo BASE_URL;?>">page d'accueil</a>
				</div>
			</footer>
   </div>
</body>
</html>
