<?php session_start(); ?>
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>Artiste</title>
   <link href='<?php echo BASE_URL."/css/bootstrap.css";?>' rel="stylesheet" />
</head>
<body>
	<div class="container">
	<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/utilisateur';?>">Utilisateurs</a></li>
					<li> <a href="<?php echo BASE_URL.'/artiste';?>">Artistes</a></li>
					<li> <a href="<?php echo BASE_URL.'/album';?>">Albums</a></li>
					<li> <a href="#">A propos</a></li>
					
					<?php 
					if (isset($_SESSION['pseudo'])) {
						$connexion = "Deconnexion";
						$link = BASE_URL.'/deconnexion';
            
            $salut = "Salut à toi ".$_SESSION['pseudo'];

					} else {
						$connexion = "Connexion";
						$link = BASE_URL.'/connexion';
            
          }
					?>
					
					<li> <a href="<?php echo $link;?>"><?php echo $connexion ?></a></li>
				</ul>
				<h3 class="muted">Artiste</h3>
		</div>
		
				<h1><?php echo $this->artiste->nomArtiste;?></h1>	
				<table class="table table-stripped">
				<tr><td>Nom de l'artiste</td><td><?php echo $this->artiste->nomArtiste ;?></td></tr>
				<tr><td>Lien Wikipedia</td><td><a href= "<?php echo $this->artiste->lienWiki; ?>">Cliquez ici !</a></td></tr>
			</table>
		
   <footer>
	   <hr>
	   <p class="text-center"><a href='<?php echo BASE_URL?>'>retour à la page d'acceuil</a></p>
   </footer>
   </div>
</body>
</html>
