<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>Artiste</title>
   <link href='<?php echo BASE_URL."/css/bootstrap.css";?>' rel="stylesheet" />
</head>
<body>
	
			<h2><?php echo $this->artiste->nomArtiste;?></h2>
		
		</div>
			<table class="table table-stripped">
				<tr><td>Nom de l'artiste</td><td><?php echo $this->artiste->idArtiste." ".$this->artiste->nomArtiste ;?></td></tr>
				<tr><td>Lien Wikipedia</td><td><?php echo $this->artiste->lienWiki;?></td></tr>
			</table>
  
	   <p class="text-center"><a href='<?php echo BASE_URL?>'>retour à la page d'acceuil</a></p>
  
		</div>
</body>
</html>
