<?php session_start(); ?>
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>Artiste</title>
   <link href='<?php echo BASE_URL."/css/bootstrap.css";?>' rel="stylesheet" />
</head>
<body>
		<div class="container">
		<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/utilisateur';?>">Utilisateur</a></li>
					<li> <a href="<?php echo BASE_URL.'/artiste';?>">Artistes</a></li>
					<li> <a href="<?php echo BASE_URL.'/album';?>">Albums</a></li>
					<li> <a href="#">A propos</a></li>
					
					<?php 
					if (isset($_SESSION['pseudo'])) {
						$connexion = "Deconnexion";
						$link = BASE_URL.'/deconnexion';
            
            $salut = "Salut à toi ".$_SESSION['pseudo'];

					} else {
						$connexion = "Connexion";
						$link = BASE_URL.'/connexion';
            
          }
					?>
					
					<li> <a href="<?php echo $link;?>"><?php echo $connexion ?></a></li>
				</ul>
				<h3 class="muted">Artistes</h3>
		</div>
	
				<h3 >Ajoutez un Artiste</h3>
			<form method="post" action="<?php echo BASE_URL. '/artiste/ajouterArtiste';?>" >
      <table>
        <tr>
          <td><label for="nom">Nom d'artiste</label></td>
          <td><input type="text" placeholder="Nom" name="nom" required><br></td>
        </tr>
        <tr>
          <td><label for="lienWiki">Lien Wikipedia</label></td>
          <td><input type="url" placeholder="lien Wiki" name="lienWiki"><br></td>
        </tr>
        
        <tr>
          <td><input type="submit" class="ajoutNew" value="Ajouter"></td>
        </tr>
      </table>
    </form>
  
	   <p class="text-center"><a href='<?php echo BASE_URL?>'>retour à la page d'acceuil</a></p>
  
		</div>
</body>
</html>
