<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
	<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />

		<title>Contacts</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/utilisateur';?>">Utilisateurs</a></li>
					<li> <a href="<?php echo BASE_URL.'/artiste';?>">Artistes</a></li>
					<li> <a href="<?php echo BASE_URL.'/album';?>">Albums</a></li>
					<li> <a href="#">A propos</a></li>
					
					<div>
						<h3>
							Ce projet a été réalisé par Simon VASSEUR et Quentin PHILIPPE.
						</h3>
						<p>
							Repartition des taches <br> Simon<br>
							
							affichages des listes (artiste, utilisateur)</br>
							Ajout des artistes formulaire d'ajout<br>
							Ajout des albums formulaire d'ajout</br>
							Gestion commentaire et notes peut ajouter seulement si connecté (à deux)</br>
							Affichage des moyennes sur album</br></br>
						
						Quentin<br>
						
							Affichages des listes (albums,contacts)</br>
							Pages de detail d'un album ou artistes</br>
							Gestion commentaire et notes (à deux)</br>
							Inscription </br>
							Connexion </br><br>

		
				</p>
		
		<p>Ce que le site permet de faire</br>
			
				s'inscrire</br>
				Avoir son compte utilisateur</br>
				Consulter des artistes et des albums </br>
				Ajouter des artistes ou des albums </br>
				Mettre un commentaire et/ou une note sur un album</br>	
				Noter un album (une seule note, modifiable)</br>
			
		</p>
				</div>
					
			<footer>
				<hr>
				<div class="text-center">
					<a href="<?php echo BASE_URL;?>">page d'accueil</a>
				</div>
			</footer>
		</div>
	</body>
</html>
