<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link href="<?php echo BASE_URL.'/css/bootstrap.css';?>" rel="stylesheet" />
		<title>Connexion</title>
	</head>
	<body>
		<div class="container">
		<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/utilisateur';?>">Utilisateur</a></li>
					<li> <a href="<?php echo BASE_URL.'/artiste';?>">Artistes</a></li>
					<li> <a href="<?php echo BASE_URL.'/album';?>">Albums</a></li>
					<li> <a href="#">A propos</a></li>
	          
          <?php 
					if (isset($_SESSION['pseudo'])) {
						$connexion = "Deconnexion";
						$link = BASE_URL.'/deconnexion';
            
            $salut = "Salut à toi ".$_SESSION['pseudo'];

					} else {
						$connexion = "Connexion";
						$link = BASE_URL.'/connexion';
            $reessayer = "Désolé ".$_POST['pseudo']." votre mdp est incorrect veuillez réessayer";
          }
					?>
          
					<li> <a href="<?php echo $link;?>"><?php echo $connexion ?></a></li>
				</ul>
        
				<h3 class="muted">Réseau social Musique</h3>
		</div>    
       
      <?php if(isset($_SESSION['pseudo'])){
              echo $salut;
            } else {
              echo $reessayer;
            }?>
      
			<hr>
			<div class="text-center">
        <a href="<?php echo BASE_URL.'/connexion';?>">Reessayer</a> <br/>
				<a href="<?php echo BASE_URL;?>">page d'accueil</a>
			</div>
		</footer>
	</div>
</body>
</html>