<?php session_start(); ?>
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"/>
   <title>Album</title>
   <link href='<?php echo BASE_URL."/css/bootstrap.css";?>' rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="page-header">
				<ul class="nav nav-pills pull-right">
					<li> <a href="<?php echo BASE_URL.'/utilisateur';?>">Utilisateur</a></li>
					<li> <a href="<?php echo BASE_URL.'/artiste';?>">Artistes</a></li>
					<li> <a href="<?php echo BASE_URL.'/album';?>">Albums</a></li>
					<li> <a href="#">A propos</a></li>
					
					<?php 
					if (isset($_SESSION['pseudo'])) {
						$connexion = "Deconnexion";
						$link = BASE_URL.'/deconnexion';
            
            $salut = "Salut à toi ".$_SESSION['pseudo'];

					} else {
						$connexion = "Connexion";
						$link = BASE_URL.'/connexion';
          }
					?>
					
					<li> <a href="<?php echo $link;?>"><?php echo $connexion ?></a></li>
				</ul>
				<h3 class="muted">Album</h3>
		</div>
	<div class="container">
		<div class="page-header">
			<h1><?php echo $this->album->nomAlbum;?></h1>	
		</div>
			<table class="table table-stripped">
				<tr><td>Nom de l'album</td><td><?php echo $this->album->nomAlbum ;?></td></tr>
				<tr><td>Lien LastFM</td><td><a href= "<?php echo $this->album->lienLastFm; ?>">Cliquez ici !</a></td></tr>
			</table>
		
		<div>
		<h3>Commentaires</h3>
			<form method="post" target="_blank" action='<?php echo BASE_URL."/album/afficher/commentaire/?id=".$this->album->idAlbum;?>'>
				<table>
					<tr>
						<td><textarea rows="4" cols="220" placeholder="Entrez un commentaire" name="message"></textarea></td>
					</tr>
					
				</table>
				
				<h3>Note</h3>
				<table>
					<tr>
						<td><input type="radio" name="note" value="1">1</td>
		  			<td><input type="radio" name="note" value="2">2</td>
						<td><input type="radio" name="note" value="3">3</td>
						<td><input type="radio" name="note" value="4">4</td>
						<td><input type="radio" name="note" value="5">5</td>
						<td><input type="submit" class="ajoutNew" value="Validez"></td>
					</tr>	
				</table>
			</form>
		</div>
		
		<table class="table table-stripped">
				<thead>
					<tr>
						<th>Utilisateur</th><th>Commentaire</th><th>Note</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach($this->comment as $comment) : ?>
					<tr>
						<td>
							<?php echo $comment->pseudo;?>
						</td>
							
						<td>
							<?php echo $comment->message;?>
						</td>
						<td>
							<?php echo $comment->note;?>
						</td>
					</tr>
					<?php endforeach; ?>
				</tbody>
		</table>
		
	</div>		
  	
   <footer>
	   <hr>
	   <p class="text-center"><a href='<?php echo BASE_URL?>'>retour à la page d'acceuil</a></p>
   </footer>
   </div>
</body>
</html>
